/*******************************/
/********* General CSS *********/
/*******************************/
@import url('http://fonts.cdnfonts.com/css/microsoft-sans-serif');
body {
    color: #213546;
    background: #eeeeee;
    font-family: 'Microsoft Sans Serif', sans-serif !important;
    margin: auto !important;
}

p{
    line-height: 1.8;
    font-size: 1em;
}
a {
    color: #228896;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #0b6c79;
    outline: none;
    text-decoration: none;
}


.wrapper {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background: #ffffff;
}

.container {
    max-width: 1050px;
}


/*******************************/
/********** Header CSS *********/
/*******************************/
.header {
    position: relative;
    width: 100%;
    padding: 0;
    border-bottom: 0;
}
.logo{
	margin-top: 14px;
	margin-left: 1.25em;
	width: 128px;
	height: 30px;
}
@media (min-width: 1200px) {
    .header .container-fluid {
        padding-left: 60px;
        padding-right: 0;
    }
}




.header .topbar {
    position: relative;
    background: #228896;
    padding: 6px 0px;
}

.header .topbar .topbar-col {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 0;
    margin: 12px 15px;
}

.header .topbar-col a {
    color: #fff;
    font-size: 14px;
}



.header .topbar-social {
    position: relative;
    text-align: right;
    padding: 10px 28px 0;
}


.header .dropdown-menu a.active {
    color: #4F84C4;
}

@media (min-width: 992px) {
    .header .navbar {
        background: #ffffff !important;
    }

    .header .navbar-brand {
        display: none;
    }

    
   
}

@media (max-width: 992px) {
  

    .header .topbar {
        text-align: center;
        margin-bottom: 15px;
    }


    .header .navbar {
        background: #ffffff !important;
        border: 1px solid #eeeeee;
        z-index: 1;
    }

    .header a.nav-link {
        padding: 5px 0;
    }

    .header .dropdown-menu {
        box-shadow: none;
    }
}

.pic2{
    float: right;
}


@media (max-width: 992px) {
    .header .navbar .btn {
        margin: 15px 0 10px 0;
    }
}



@media (max-width: 767.98px) {
    .row{
        margin: 0;
    }
    .pic1{
        width: 100%;
    }
    .pic2{
        float: none;
        width: 100%;
    }
    .des-p{
        margin-top: -8px !important;
    }
    section.main-body{
        margin: 1em 0 !important;
    }
    .md{margin-top: 12em;}
    .navbar-toggle{
        float: left !important;
        margin-left: 1.25em;
        border-color: #228896 !important;
    }
    .navbar-nav{
        float: left !important;
        width: 100%;
    }
    .header .topbar-social{
        text-align: center !important;
    }
   
    .bio-des{
        background: none !important;
    }
    .bio{
        background:none !important;
    }
    .des-p p{
        color: #000 !important;
        padding: 10px;
    }

    .about {

        position: relative !important;
        left: 0 !important;
        width: auto !important;
        padding: 2em;
        top: 0 !important;
    }
    .edu {

        position: relative !important;
        left: 0 !important;
        width: auto !important;
        padding: 2em;
        top: 0 !important;
        right: 0 !important;
    }
    #pic1{
        margin: 0 !important;
    }
}






@media (min-width: 768px) {
    .about .container-fluid {
        padding: 0;
    }

    .about .row {
        margin: 0;
    }

    .about .col-md-6:first-child {
        padding: 0;
    }

    .about .col-md-6:last-child {
        padding: 0 60px;
    }
}






/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact h2.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    padding-bottom: 15px;
}

.contact h2.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0;
}

.contact .contact-info {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.contact .contact-info iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.contact .contact-info h3 {
    color: #3f4b5a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact .contact-info h3 span {
    font-weight: 400;
    padding-left: 5px;
}


.contact .contact-info p {
    color: #3f4b5a;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact .editor-info {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

@media (min-width: 992px) {
    .contact .editor-info {
        padding-left: 30px;
    }
}

.contact .editor-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.contact .editor-item:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.contact .editor-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.contact .editor-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.contact .editor-text {
    width: auto;
}

.contact .editor-text h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact .editor-text a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}


/*******************************/
/******* Single Page CSS *******/
/*******************************/
.single {
    position: relative;
    width: 100%;
    padding: 45px 0 65px 0;
}

.single h2.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    padding-bottom: 15px;
}

.single h2.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0;
}

.single h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

.single p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.single .table,
.single .list-group {
    margin-bottom: 30px;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    padding-top: 0;
    background: #228896;
    text-align: center;
}


@media(min-width: 992px) {
    .footer .container:first-child {
        max-width: 960px;
        margin-bottom: 0;
    }

    .footer .footer-about,
    .footer .footer-link {
        padding: 0 30px;
    }
}






.footer .footer-link a:hover {
    color: #ffffff;
}

.footer .copyright {
    padding: 15px;
    border-top: 0;
}

.footer .copyright p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}


.footer .copyright p a {
    color: #fff;
}

.footer .copyright p a:hover {
    color: #ffffff;
}
.menu {
    border-bottom: solid #228896 3px;
    padding: 0px 16px;
}
@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}

.title {
    background: #228896;
    padding: 0.5em;
    border-radius: 5px 5px 0 0;
}
.title h3{
	color: #FFFFFF;
	font-size: 1.25em !important;
	text-align: center;
	margin: 0;
}
.bio{
	background: url("../img/index/baker_beach.jpg")no-repeat;
	background-size: cover;
	height: 400px;
	display: flex;
	align-items: flex-end;
}
.bio-des{
	background: #000;
	opacity: 0.5;
	width: 94.8%;
	position: absolute;
	height: 133px;
	top: 288px;
	z-index: 0;
}
.des-p p{
	margin: 0;
	/* line-height: 20px; */
	color: #fff;
}
.name-title{font-weight: bold;}

.des-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    padding: 0;
}
.des-p p{font-size: 14px !important;line-height: 27px;}
section.main-body {
    margin: 1.5em 10px;
}
.pic{
    width: 100%;
}
#pic1{
    margin: 20em 0 0;
}
.about{
    background-color: #f7f7f7;
    position: absolute;
    left: -33em;
    width: 598px;
    padding: 2em;
    top: 19px;
}
.about p{
    text-align: justify;
}
.about p:first-child{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}


.edu{
    background-color: #f7f7f7;
    position: absolute;
    left: 23em;
    width: 642px;
    padding: 2em;
    top: 43em;
    right: 0;
    z-index: 500;
}
.edu p{
    text-align: justify;
}
.edu p:first-child{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
li{font-size: 1em;margin: 4px 0;}
.navbar-inverse{
    border: none !important;
}
.navbar-nav{
    float: right;
    margin-top: 10px !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent !important;
    color:#9d9d9d !important;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: #228896 !important;
    color: #fff;
}
.navbar-nav>li>a{
    padding: 5px 15px !important;
}
a.active{
    background: #228896;
    color:#fff !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent !important;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color:#228896 !important ;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: transparent !important;
}
.navbar-collapse{border-top: none !important ;}
.navbar-inverse .navbar-nav>li>a{
    color: #000 ;
}

ol.pul li{
    text-align: justify !important;
    margin-bottom: 20px;
    line-height: 1.5;
}
.underline{
    border-bottom: solid 1px #000;
    margin-bottom: 20px;
    margin-left: -25px;
}
.underline img{
    width: 18px;
}
ol.pul li a {
    border: solid 1px #228896;
    color: #228896 !important;
    padding: 2px 5px;
    margin: 0 3px;
    border-radius: 3px;
    font-size: 12px;
}

ol.pul li a:hover{
    border: solid 1px #228896;
    color: #fff !important;
    background-color: #228896;
   text-decoration: none;
}
p.links{
    margin-top: 3em;
}
p.links a{
    border: solid 1px #228896;
    color: #228896 !important;
    padding: 2px 5px;
    margin: 3em 0;
    border-radius: 3px;
    font-size: 1em;
}

p.links a:hover{
    border: solid 1px #228896;
    color: #fff !important;
    background-color: #228896;
   text-decoration: none;
}
.line{
    height: 1px;
    background: black;
    margin-bottom: 20px;
}

.card-img-top{
    width: 120px;
}
p.card-title {
    text-align: left;
    padding: 9px;
}
.more {
    border:solid 1px #228896;
    color: #228896;
    padding: 2px 5px;
    margin: 0 10px;
    border-radius: 3px;
}
.more:hover {
   
    color: #fff;
    background-color:#228896 ;
  
  
}
.btn-primary-border{
    border:solid 1px #337ab7 !important;
    color: #337ab7 !important;
}
.btn-primary-border:hover{
    border:solid 1px #228896 !important;
    color: #228896 !important;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 20px;
}

.page-header {
    padding: 10px 37px 15px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
    background: #F3F3F3;
}
.h-menu {
    background: #F5F5F5;
    text-align: center;
    margin: 1.5em 0;
}
.h-menu ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}
.h-menu ul li a {
    text-align: center;
    color: #228896;
    font-size: 1em;
}
.h-menu ul li:last-child {
    border-bottom: none;
}
.h-menu ul li {
    line-height: 2.2;
    border-bottom: dashed 1px #C5C5C5;
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    margin-right: 20px;
}
.navbar{
    margin-bottom: 5px;
}

.h3, h3{
    font-size: 17px;
}
.menu-sec{
    padding-right: 0;
}
.personal-img{
    width: 100%;
   
}