/*******************************/
/********* General CSS *********/
/*******************************/
@import url("https://fonts.cdnfonts.com/css/microsoft-sans-serif");
.zoom {
  zoom: 0.9;
  -moz-transform: scale(0.9);
  -moz-transform-origin: center 0;
  -o-transform: scale(0.9);
  -o-transform-origin: center 0;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: center 0;
  transform: scale(0.9); /* Standard Property */
  transform-origin: center 0; /* Standard Property */
}
body {
  color: #213546;
  background: #eeeeee;
  font-family: "Microsoft Sans Serif", sans-serif !important;
  margin: auto !important;
}

p {
  line-height: 1.5;
  font-size: 1em;
}
a {
  color: #015a9c;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #5b6061;
  outline: none;
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background: #ffffff;
}

.container {
  max-width: 1050px;
}

/*******************************/
/********** Header CSS *********/
/*******************************/
.header {
  position: relative;
  width: 100%;
  padding: 0;
  border-bottom: 0;
}
.logo {
  margin-top: 10px;
  margin-left: 1.25em;
}
@media (min-width: 1200px) {
  .header .container-fluid {
    padding-left: 60px;
    padding-right: 0;
  }
}

.header .topbar {
  position: relative;
  background: #015a9c;
  padding: 6px 0px;
}

.header .topbar .topbar-col {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  margin: 12px 15px;
}

.topbar2 {
  background: #015a9c;
  position: relative;
  padding: 6px 0px;
}

.header .topbar2 .topbar-col {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  margin: 12px 15px;
}

.header .topbar-col a {
  color: #fff;
  font-size: 14px;
}

.header .topbar-social {
  position: relative;
  text-align: right;
  padding: 10px 28px 0;
}

.header .dropdown-menu a.active {
  color: #4f84c4;
}

@media (min-width: 992px) {
  .header .navbar {
    background: #ffffff !important;
  }

  .header .navbar-brand {
    display: none;
  }
}

@media (max-width: 992px) {
  .header .topbar {
    text-align: center;
    margin-bottom: 15px;
  }

  .header .navbar {
    background: #ffffff !important;
    border: 1px solid #eeeeee;
    z-index: 1;
  }

  .header a.nav-link {
    padding: 5px 0;
  }

  .header .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width: 992px) {
  .header .navbar .btn {
    margin: 15px 0 10px 0;
  }
}

@media (max-width: 767.98px) {
  .row {
    margin: 0;
  }

  section.main-body {
    margin: 1em 0 !important;
  }
  .md {
    margin-top: 12em;
  }
  .md2 {
    margin-top: 1em;
  }
  .navbar-toggle {
    float: left !important;
    margin-left: 1.25em;
    border-color: #015a9c !important;
  }
  .navbar-nav {
    float: left !important;
    width: 100%;
  }
  .header .topbar-social {
    text-align: center !important;
  }
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  padding-top: 0;
  background: #015a9c;
  text-align: center;
}

@media (min-width: 992px) {
  .footer .container:first-child {
    max-width: 960px;
    margin-bottom: 0;
  }

  .footer .footer-about,
  .footer .footer-link {
    padding: 0 30px;
  }
}

.footer .footer-link a:hover {
  color: #ffffff;
}

.footer .copyright {
  padding: 15px;
  border-top: 0;
}

.footer .copyright p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.footer .copyright p a {
  color: #fff;
}

.footer .copyright p a:hover {
  color: #ffffff;
}
.menu {
  border-bottom: solid #015a9c 3px;
  padding: 0px 16px;
}
@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
  .social-t {
    margin: 20px 0;
  }
}

.title {
  background: #015a9c;
  padding: 0.5em;
  border-radius: 5px 5px 0 0;
}
.title h3 {
  color: #ffffff;
  font-size: 1.25em !important;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

section.main-body {
  margin: 1.5em 10px;
}

li {
  font-size: 1em;
  margin: 4px 0;
}
.navbar-inverse {
  border: none !important;
}
.navbar-nav {
  float: right;
  margin-top: 10px !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent !important;
  color: #9d9d9d !important;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #015a9c !important;
  color: #fff;
}
.navbar-nav > li > a {
  padding: 5px 15px !important;
}
a.active {
  background: #015a9c;
  color: #fff !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: transparent !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #015a9c !important ;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
}
.navbar-collapse {
  border-top: none !important ;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

ol.pul li {
  text-align: justify !important;
  margin-bottom: 20px;
  line-height: 1.5;
}
.underline {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
  margin-left: 0;
  font-weight: bold;
  padding: 5px 0;
}
.underline img {
  width: 18px;
}
ol.pul li a {
  border: solid 1px #015a9c;
  color: #015a9c !important;
  padding: 2px 5px;
  margin: 0 3px;
  border-radius: 3px;
  font-size: 12px;
}

ol.pul li a:hover {
  border: solid 1px #015a9c;
  color: #fff !important;
  background-color: #015a9c;
  text-decoration: none;
}

.h-menu {
  background: #f5f5f5;
  text-align: center;
  margin: 1.5em 0;
}
.h-menu ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
.h-menu ul li a {
  text-align: center;
  color: #015a9c;
  font-size: 1em;
}
.h-menu ul li:last-child {
  border-bottom: none;
}
.h-menu ul li {
  line-height: 2.2;
  border-bottom: dashed 1px #c5c5c5;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
  margin-right: 20px;
}
.navbar {
  margin-bottom: 5px;
}

.h3,
h3 {
  font-size: 17px;
}
.menu-sec {
  padding-right: 0;
}
.personal-img {
  width: 100%;
}

.font-weight-bold {
  font-weight: bold;
  font-size: 2.5rem;
}

.member {
  width: 120%;
  display: inline-block;
}
.doodle .back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 110%;
}
.doodle:hover .back {
  display: inline;
}

.alumni {
  width: 120%;
}
.space {
  margin-top: 15px;
}
.img1 {
  margin-bottom: 7rem;
}
.address {
  color: white;
  position: absolute;
  top: 5px;
  right: 12px;
  width: 160px;
  text-align: right;
  font-weight: bold;
}
.section-one {
  position: relative;
}
.section-two {
  position: relative;
  margin-top: 5rem;
}
.text-back {
  background: #f5f2f29c;
  padding: 6.5rem 5rem;
}
.text-one {
  width: 70%;
  margin-left: 3rem;
}
.icon {
  width: 130px;
  position: absolute;
  top: -54px;
}
.img2 {
  width: 45%;
  position: absolute;
  right: 0;
  top: 50px;
}
.text-one p {
  width: 397px;
  text-align: justify;
}
.text-two p {
  text-align: justify;
}
.img3 {
  width: 33%;
  position: absolute;
  top: -99px;
}

.text-back.text-two {
  width: 630px;
  margin-left: 26rem;
  z-index: 200;
  position: relative;
}
.lab-body {
  height: 100%;
  position: relative;
  min-height: 1054px;
}
@media (max-width: 700px) {
  .text-one {
    width: 100%;
    margin-left: 0;
  }
  .text-one p {
    width: auto;
    text-align: justify;
  }
  .img2 {
    width: 100%;
    position: relative;
    right: 0;
    top: 8px;
  }
  .text-back.text-two {
    width: auto !important;
    margin-top: 15px;
    margin-left: 0 !important;
    z-index: 200;
  }
  .text-back {
    background: #f7e09a;
    padding: 2rem 3rem;
  }
  .icon {
    width: 88px;
    position: absolute;
    top: -54px;
  }
  .img3 {
    width: 100%;
    position: relative;
    top: 0;
  }
}
